.tile {
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 2px;
  cursor: pointer;
  vertical-align: top;
}

.discarded_tile {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 2px;
}

.label {
  padding: 4px;
  border-radius: 5px;
  text-align: right;
  font-weight: bold;
}

.stack {
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 1px solid black;
  margin: 2px;
  font-size: 24px;
  text-align: center;
}

.bl {}
.tl { transform: rotate(90deg); }
.tr { transform: rotate(180deg); }
.br { transform: rotate(-90deg); }

.blank {
  opacity: 0.15;
  background-color: #ccc;
}

.full {
  opacity: 0.1;
  background-color: #fff;
}

.p0 { background-color: rgb(146,0,0); }
.p1 { background-color: rgb(255,150,0); }
.p2 { background-color: rgb(0,146,146); }
.p3 { background-color: rgb(182,109,255); }
.p4 { background-color: rgb(0,180,255); }

.p0.label { color: #fcc; }
.p1.label { color: #fec; }
.p2.label { color: #cff; }
.p3.label { color: #eef; }
.p4.label { color: #cff; }



.market {
  border-collapse: separate;
  border-spacing: 2px;
  background-color: #fff;
  border: 1px solid black;
}

.board {
  background-color: #003;
  /* transform: scale(0.5) translate(-200px,-400px); */
}

.street {
  height: 70px;
}

.palace {
  height: 70px;
  background-color: #fca;
}


.value {
  color: white;
  background-color: rgba(255,255,255,0.5);
  font-weight: bold;
  padding: 2px;
  text-align: center;
}


.market td {
  padding: 0;
  margin: 0;
  line-height: 0;
}
